
// color
$color-1: #181818;
$color-2: #ffffff;
$color-3: #b61984;
$color-4: #191919;


//font size
$fs-0: 15px;
$fs-1: 13px;
$fs-2: 0.75rem;
$fs-3: 1.5rem;
$fs-4: 0.9rem;



//font weight
$fw-1: 300;
$fw-2: 400;
$fw-3: 700;
$fw-4: 900;



//Padding
$pd-1: 50px;
$pd-2: 120px;
$pd-3: 13px;
$pd-4: 44px;
$pd-5: 100px;



//Margin
$mg-1: 30px;
$mg-2: 25px;
$mg-3: 70px;
$mg-4: 60px;


