
// color
$color-1: #181818;
$color-2: #ffffff;
$color-3: #b61984;
$color-4: #191919;


//font size
$fs-0: 15px;
$fs-1: 13px;
$fs-2: 0.75rem;
$fs-3: 1.5rem;
$fs-4: 0.9rem;
$fs-5: 1.1rem;
$fs-6: 3.8rem;
$fs-7: 1rem;


//font weight
$fw-1: 300;
$fw-2: 400;
$fw-3: 700;
$fw-4: 900;

//border
$bd-1: 1px;

//Padding

$pd-1: 20px;
$pd-2: 120px;
$pd-3: 13px;
$pd-4: 40px;
$pd-5: 100px;
$pd-6: 14px;
$pd-7: 60px;




//Margin
$mg-1: 30px;
$mg-2: 25px;
$mg-3: 70px;
$mg-4: 60px;
$mg-5: 6px;
$mg-6: 140px;
