*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto', sans-serif;
    @include styleText ($fs-0, $fw-1, $color-1);
}
.container{
    width: 1400px;
    margin: auto;
}
.animate__fadeIn{
    animation-delay: 400ms;
}
.animate__delay-500s{
    animation-delay: 0.5s;
}
.animate__delay-1000s{
    animation-delay: 1s;
}
.animate__delay-1500s{
    animation-delay: 1.5s;
}
.animate__delay-2000s{
    animation-delay: 2s;
}