footer{
    background-image: url(./../img/footer_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
    padding-bottom: $pd-2 * 2;
        .footer_content{
            width: 65%;
            margin: auto;
            .ft_item{
                padding: 0 $pd-4;
                h3{
                    @include styleText ($fs-3, $fw-3, $color-2);
                    margin-bottom: $mg-1;
                }
                .form_ft{
                    width: 80%;
                    height: auto;
                    border: $bd-1 solid $color-3;
                    background: #aa017e;
                    padding: 12px;
                    &::placeholder{
                        color: $color-2;
                    }
                    &:focus{
                        border: $bd-1 solid $color-2;
                        box-shadow: none;
                   
                    }
                }
                button{
                    padding: 12px 50px;
                        border-radius: 40px;
                        background: $color-2;
                        border: $bd-1 solid $color-3;
                        margin: 6px;
                        color: $color-3;
                        transition: all 0.5s;  
                        box-shadow: 0 0 0 48px #fff inset;
                        &:hover{
                            color: $color-2;
                            background: $color-3;
                            box-shadow: 0 0 0 1px #fff inset;
                            transition: all 0.3s ease;
                        }
                }
                ul{
                    list-style: none;
                    li{
                        margin-bottom: 10px;
                        span{
                            a{
                                margin-right: 10px;
                                &:hover{
                                    color: $color-4;
                                }
                            }
                        }
                        a{
                            @include styleText ($fs-4, $fw-2, $color-2);
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    
}