header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    z-index: 1;
    .sticky{
        background-color: $color-2;
        .navbar{
            a{
                img{
                    width: 0px;
                    height: 0px;
                }
            }
            .collapse{
                .header_right{
                    .btn_header{
                        button{
                            padding: 6px 20px;   
                        }
                    }
                }
            }
        }

    }
    .navbar{
        padding: 0;
    }
    .container{
        a{
            img{
                width: 80px;
                height: 80px;
            }

        }
        .navbar-nav{
            .nav-item{
                .nav-link{
                    padding-right: $pd-7;
                }
            }
        }
        .nav-item{
            @include styleText ($fs-1, $fw-3, $color-1);

            .nav-link{
                padding: 0;
                color: $color-1;
                &:hover{
                    color: $color-3;
                }
                &::after{
                    content: "";
                    width: 3px;
                    height: 3px;
                    background: $color-1;
                    transform: scale(0);
                }
            }
            &:hover {
                .nav-link{
                    &::after{
                        transform: scale(1);
                    }
                }
            }
            
        }
        .collapse{
            position: relative;
            .header_right{
                .btn_header{
                    button{
                        padding: 12px 20px;
                        border-radius: 40px;
                        background: $color-3;
                        border: $bd-1 solid $color-3;
                        margin: 6px;
                        color: $color-2;
                        transition: all 0.2s; 
                        box-shadow: 0 0 0 48px #b61984 inset;    
                        &:hover{
                            // color: $color-3;
                            // background: $color-2;
                            color: #b61984;
                            box-shadow: 0 0 0 1px #b61984 inset;
                            background: #fff;
                            transition: all 0.3s ease;
                        }
                    }
                }
                a{
                    line-height: 4.2;
                    text-decoration: none;
                    padding-left: 10px;
                    color: $color-4;
                    transition: all 0.2s;
                    &:hover{
                        color: $color-3;
                    }
                }
            }
        }
       
        
    }
}